main {
  margin-top: 2rem;
  float: right;
  width: calc(100% - 30%);
  height: 80vh;
}

.product-container {
  display: block;
  max-width: 20rem;
  max-height: 35rem;
  border-radius: 10%;
  overflow: hidden;
  position: absolute;
}

.product {
  position: relative;
  max-width: 100%;
}

.product-name {
  text-transform: uppercase;
}

.product-information {
  margin-left: 40%;
}

.information-el {
  margin-bottom: 2rem;
}

.description {
  max-width: 30rem;
  max-height: 20rem;
  text-align: justify;
}

.quantity {
  display: flex;
}

.quantity-value,
.size-value {
  margin-left: 2rem;
  min-width: 4vw;
  min-height: 1vh;
  background-color: rgb(240, 240, 240);
  border: 6px solid transparent;
  /* -webkit-appearance: none;  
   -moz-appearance: none; 
   appearance: none; */
}

select {
  cursor: pointer;
}

button {
  width: 230px;
  height: 50px;
  margin-top: 40px;
  font-weight: 700;
  border-radius: 0 50px 50px 0;
  border: solid 2px;
}
